.users-page{
    padding-left: 180px;
}

.user-data{
    display: flex;
    gap: 100px;
    /* padding-left: 180px;  */
    padding-top: 90px;
}
.user-data h1{
    color: gray;
}

.user-name{
    display: flex;
    gap: 10px;
    color: black ;
    font-size: 19px ;
    font-weight: 600 ;
    line-height: 24px ;
}
.user-name h1{
    color: black;
}
.user-img{
    border: 2px solid;
    width: 80px;
    height: 80px;
}
.id{
    /* display: flex; */
}
.level{
    /* display: flex; */
}
.following{
    /* display: flex; */
}
.followers{
    /* display: flex; */
}

.pending{
    border: 1px solid #d8d8d8;
    border-radius: 10px;
padding: 20px;
margin-top: 50px;
}
.pending h1{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

.balances{
    margin-top: 100px;
    border: 1px solid #d8d8d8;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}
.balances h1{
    font-size: 29px ;
    font-weight: 600 ;
    line-height: 14px ; 
}
.balances h2{
    padding-top: 10px;
    font-size: 19px ;
    font-weight: 700 ;
    line-height: 14px ; 
}
.balances h3{
    padding-top: 10px;
    padding-bottom: 30px;
}
.balances i{
    padding-left: 10px;
    cursor: pointer;
}
.balances button{
position: absolute;
top: 20px;
right: 30px;
color: rgb(38, 37, 37);
/* color: 848e9c; */
font-weight: 500;
padding: 9px;
/* background-color: #dcdfe1d9;
 */
background-color: #eaecef;
}


.markets {
    border: 1px solid #d8d8d8 ;
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px;
}
.markets h1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

