* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    display: flex;
    gap: 30px;
}
a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 10px;

}

body {
    transition: background 0.3s, color 0.3s;
}

body.dark {
    background-color: #181A20;
    color: white;
}

ul li a {
    color: 181A20;
    transition: color 0.3s ease-in-out;
}

body.dark ul li a {
    color: white;
}

body.dark ul li a:hover {
    color: #F0B90B;
}




/* Mobil üçün */
@media (max-width: 600px) {
    body {
        background-color: red;
    }
    .navbar {
        padding: 0px 10px !important;

    }
    .right-menu ul {
        display: none;
    }
    .right-menu img{
        width: 110px;
    }
    .left-menu i {
        display: none;
    }
    .left-menu button {
        display: none;
    }
    .navbar .bars {
        display: flex !important;
    }

    .footer .row {
display: block !important;
/* flex-direction: column !important; */
        /* display: none; */
        font-size: 10px;
    }
    .footer .col-3 {
      padding: 15px;
    }
       
.footer .col-3 ul{
    display: none;
}
   
}

/* Tablet üçün */
@media (min-width: 601px) and (max-width: 1024px) {
    body{
        background-color: blue;
    }
    .navbar {
        padding: 0px 30px !important;
        gap: 200px !important;
        display: flex !important;
        justify-content: space-between !important;
      
    }
    .right-menu ul {
        display: none;
    }
    .right-menu img{
        width: 150px;
    }

    .left-menu{
        padding-right: 80px;
        
      padding-left: 550PX;
    }
    .left-menu i {
        display: none;
    }

    .col-3 .icons{
        display: flex;
        gap: 40px;
        font-size: 20px;
        padding-top: 30px;
        flex-wrap: wrap;
    }
    .icons i{
        cursor: pointer;
        width: 10%;
        font-size: 19px;
    }
    
    .row{
        display: flex;
        justify-content: center;
        /* padding-top: 30px; */
        gap: 20px;
    }
    .footer{
        padding: 0px 40px;
    }
  
    hr{
        width: 1207px !important;
        margin-top: 20px;
    border: 0.5px solid gray ;
    }
    p{
      
      padding-left: 385PX;
    }
    
    
   
   

}

