@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1600px;

    margin: 0 auto;
    width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
    display: flex;
    gap: 30px;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

body {
    transition:
        background 0.3s,
        color 0.3s;
}

body.dark {
    background-color: #181a20;
    color: white;
}

ul li a {
    color: 181A20;
    transition: color 0.3s ease-in-out;
}

body.dark ul li a {
    color: white;
}

body.dark ul li a:hover {
    color: #f0b90b;
}
body.dark .user-name h1 {
    color: rgb(239, 235, 235);
}

body.dark .paper {
    background-color: #181a20;
}
body.dark .tablecell {
    background-color: #181a20;
    color: aliceblue;
}

body.dark .MuiStep-horizontal span {
    color: aliceblue;
}
body.dark {
    color: aliceblue;
}
body.dark .grafichart {
    background-color: #181a20;
}
body.dark .tableCryptos {
    background-color: #181a20;
}
body.dark .tableCryptoCell {
    color: aliceblue;
}
body.dark .log-ins {
    color: aliceblue;
}
body.dark input {
    color: aliceblue;
}
body.dark .email-phone-num-add-input input {
    color: #e3e5e9;
}
body.dark .coin {
    background-color: #1e2329;
}
body.dark .filter-buttons button {
    color: gray;
}
body.dark .filter-buttons button:hover {
    color: white;
}
body.dark .papular-list h1 {
    color: #e3e5e9;
}
body.dark .papular-list p {
    color: #e3e5e9;
}
body.dark .papular-list p:hover {
    color: gray;
}
body.dark .hs h2 {
    color: #e3e5e9;
}
body.dark .coin p {
    color: #e3e5e9;
}
body.dark .coin p:hover {
    color: gray;
}
body.dark .icons-p p {
    color: #e3e5e9;
}
body.dark .about-binance h4 {
    color: #e3e5e9;
}
body.dark .dep-link{
    color: #e3e5e9;
}
body.dark .user-name p{
    color: #e3e5e9;
}
body.dark .userMain{
    color: #e3e5e9;

}
body.dark .fa-gear{
    color: #e3e5e9;
}

/* Mobil üçün */
@media (max-width: 600px) {
    body {
        background-color: red;
    }

    .navbar {
        /* padding: 0px 10px !important; */
        display: flex !important;
        /* gap: 40px; */
        /* justify-content: space-between; */
    }

    .right-menu ul {
        display: none;
    }

    .right-menu img {
        width: 192px;
    }

    .left-menu i {
        display: none;
    }

    .left-menu button {
        display: none;
    }

    .navbar .bars {
        display: flex !important;
        /* padding-left: 30px; */
        /* padding-right: 720px; */
    }

    .footer {
        padding-top: 80px;
        padding-left: 30px;
    }
    .footer .row {
        flex-direction: column !important;
        /* display: none; */
        gap: 30px;
        /* font-size: 10px; */
    }
    .footer i {
        font-size: 30px !important;
        display: flex;
    }

    .footer h1 {
        /* padding: 15px; */
        font-size: 28px;
        width: 200px;
    }

    .footer .col-3 ul {
        display: none;
    }

    /* .first-sec .col-6 h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
        text-align: center;
    } */

    .col-6 h1{
        padding-top: 0px;
    }
    .coins-list h1{
        padding-left: 8px !important;
    }
    .first-sec .col-6 {
        /* font-size: 16px; */
        /* line-height: 24px; */
        text-align: center;
        /* margin-top: 20px; */
    }
    .coin p{
        padding-left: 0px !important;
    }
    .coins-list{
        gap: 15px !important;
    }

    .phone-email-add {
        display: none !important;
    }

    .email-phone-num-add-input button {
        width: 160px !important;
        margin: 0 auto;
    }

    .first-sec .footer-section {
        display: none;
    }

    .qr {
        display: none !important;
    }

    .second-sec .row {
        display: block;
    }
    hr {
        width: 645px !important;
        max-width: 320px;
    }
    .binancess {
        /* margin-left: 35%; */
        padding-bottom: 30px;
    }

    .first-sec .row {
        display: flex !important;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        margin: 0 auto;
        /* background-color: #181a20; */
    }
    .first-sec .col-6{
        padding: 0px;
    }
    .first-sec .filter-buttons{
        gap: 0px;
        /* display: block; */
        margin-top: 0px;
    }

    .container {
        display: block;
        padding: 0px 10px;
        /* width: 0%; */
    }

    .coins .coin {
        background-color: transparent;
        border: none;
    }

    .crypto-sec h1 {
        font-size: 28px !important;
    }
    .hot-Cryptos h3 {
        font-size: 20px !important;
    }
    .hot-Cryptos {
        width: 600px;
        /* padding-left: 1px !important; */
    }
    .crypts {
        padding-left: 0px !important;
    }
    .price-crypyto {
        /* text-align: left !important; */
        font-size: 25px;
    }
    .procent-crypto {
        /* text-align: left !important;
        display: none; */
        font-size: 25px;
    }
    .about p{
        width: 490px !important;
    }
    .about .col-6 img{
        display: none;
    }
    .about h1{
width: 460px !important;
    }










}

/* Tablet üçün */
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: blue;
    }

    .navbar {
        padding: 0px 30px !important;
        gap: 200px !important;
        display: flex !important;
        justify-content: space-between !important;
    }

    .right-menu ul {
        display: none;
    }

    .right-menu img {
        width: 150px;
    }

    .left-menu {
        padding-right: 80px;

        padding-left: 550px;
    }

    .left-menu i {
        display: none;
    }

    .col-3 .icons {
        display: flex;
        gap: 40px;
        font-size: 20px;
        padding-top: 30px;
        flex-wrap: wrap;
    }

    .icons i {
        cursor: pointer;
        width: 10%;
        font-size: 19px;
    }

    .row {
        display: flex;
        justify-content: center;
        /* padding-top: 30px; */
        gap: 20px;
    }

    .footer {
        padding: 0px 40px;
    }

    hr {
        width: 100%;
        max-width: 1207px !important;
        margin-top: 20px;
        border: 0.5px solid gray;
    }

    p {
        padding-left: 385px;
    }
}
