.col-3 .icons {
    display: flex;
    gap: 40px;
    font-size: 20px;
    padding-top: 30px;
    flex-wrap: wrap;
}

.icons i {
    cursor: pointer;
    width: 10%;
    font-size: 19px;
}

 .row {
    display: flex;
    justify-content: space-between;
    /* gap: 180px; */


    /* &>div {
        width: 40%;
    } */

}


.col-3 ul {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.col-3 li {
    font-size: 19px;
}

.binancess {
    font-size: 19px;
    text-align: center;
    color: gray;
    padding-top: 20px;

}

hr {
    width: 100%;
    margin-top: 20px;
    border: 0.5px solid gray;
}