.lists{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
/* align-items: center; */
    /* justify-content: center; */
    margin-top: 20px;
    padding-bottom: 200px;
    padding-left: 20px;
    font-size: 30px;
}

.lists p{
  text-align: justify;
    border-radius: 10px;
    cursor: pointer;
}