.log-in{
    border: 2px solid gray;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    margin-top: 150px;
}

.log-in h2{
    /* text-align: center; */
    padding-left: 88px;

    font-size: 34px;
    font-weight: 400;
    line-height: 21px;
}

.log-in input{
    max-width: 400px;
    width: 100%;
    margin-top: 40px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;

}
.log-in form{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.log-in img{
    margin-left: 40px;
    /* padding-left: 30px; */
}
.log-in button{
    max-width: 400px !important;
    width: 100%;
    border-radius: 5px;
    /* border: 1px solid gray; */
    /* margin-left: 25px; */
    height: 40px;
    background-color: #F0B90B;
    margin: 30px auto 30px auto;
}
.log-in .reg{
border: none;
background-color: transparent;
color: #F0B90B;
font-size: 20px;
font-weight: 500;
height: 32px;
line-height: 22px;
min-height: 32px;
margin-left: 15%;
}
.log-in form{
    /* margin-left: 65px; */
    margin: 0 auto;
}