.filter-buttons{
    display: flex;
    gap: 50px;
    justify-content: center;
    /* margin-top: 20px; */
}

.filter-buttons button{


    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    font-family: "BinancePlex", Arial, sans-serif;
color: #202630;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}

.filter-buttons button:hover{
  
    color: gray;
}
/* .papular-list{
 padding-left: 10%;
 padding-top: 30px;
} */
.coins-list{
    display: flex;
    /* gap: 30px; */
    /* justify-content:baseline */
}
.coins-list h1{
    /* color: #F0B90B; */
    font-size: 16px;

    line-height: 24px;
    font-weight: 600;
    font-family: "BinancePlex", Arial, sans-serif;
    /* padding-left: 5%; */
    margin-left: 10px;
}
.coins-list span{
    color: gray;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: "BinancePlex", Arial, sans-serif;
    /* padding-left: 15%; */
    text-align: justify;
    /* width: 10px; */
}

.coins-list p{
    color:#202630;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 12px;
    font-family: "BinancePlex", Arial, sans-serif;
    /* padding-left: 15%; */
    /* text-align: justify; */
    /* width: 10px; */
}